%a#__hrefClickToCall{:onclick => "window.open('http://c2cwidget.evoice.com/C2CWidget/ClickToConnectSession.aspx?key=9db57cc7-a002-4b6a-8059-86f0790e6885&evoice=1','','width=570,height=280, left=40, top=100, resizable=no,scroll=yes,status=no,titlebar=no,toolbar=no,addressbar=no,copyhistory=no,navigationtoolbar=no')", :style => "Cursor:pointer;"} Click to Call 800-819-2050
