/ Highlight
.highlight
  .container
    .sixteen.columns
      .highlight-inner
        .col-text
          %h2.headline
            Everything you need to run your 
            %span.accent
              trucking 
            business
        .col-btn
          = link_to t(:try_for_free), prices_path, :class => 'btn'

